<% if @stripe_count > 0 %>
  <% price = @stripe.sum {|order| order.product.price_in_cents} %>
  <% shipping = @stripe.sum {|order| order.product.shipping_in_cents} %>
  <% @total_stripe = price + shipping %>
<% end %>

<div class="payment-method">
  <div class="small-12 columns text-center">
    <div class="cc-payment-one">
      <i class="fa fa-4x fa-credit-card" aria-hidden="true"></i>
      <div class="stripe-button stripe-option" id="stripe-button">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Tackle!"
                data-amount=<%= @total_stripe %>
                data-locale="auto">
        </script>
      </div>
    </div>
  </div>
</div>
<div class="large-12 columns text-center">
  <span style="color: #2c3e50;">(Refresh the page to see an updated total and item count if you remove an item from your cart on this page.)</span>
  <% if @stripe_count > 0 %>
    <% @stripe.each do |product| %>
      <div class="cart-box-go">
        <span id="cart-item-go">
          <%= link_to product_path(product.product) do %>
            <%= image_tag(product.product.image.thumb) %>
          <% end %>
        </span>
        <span>
          <h4><%= link_to product.product.name, product_path(product.product), id: "title-link-go" %></h4>
          <h6><%= number_to_currency(product.product.price) %></h6>
          <p>
            Seller: <%= product.product.user.profile_name %>
          </p>
        </span>
        <span>
          <%= link_to "", id: "purchase-button", data: {target: product.product.cart_action(current_user.try :id), addUrl: add_to_cart_path(product.product), removeUrl: remove_from_cart_path(product.product)} do %>
            <% if product.product.cart_action(current_user.try :id) == 'Remove from' %>
              <i class="fa fa-times"></i>
              <span><%=product.product.cart_action(current_user.try :id)%></span> Cart
            <% else %>
              <i class="fa fa-shopping-cart"></i>
              <span><%=product.product.cart_action(current_user.try :id)%></span> <span>Cart</span>
            <% end %>
          <%end%>
        </span>
      </div>
    <% end %>
  <% end %>
</div>
