<div class="row font-color">
  <div class="row align-center">
    <div class="column large-4 small-12 text-center one-form">
      <h2>Shipping Information</h2>
      <p>
        Name: <%= @grouped_order.first_name %> <%= @grouped_order.last_name %>
      </p>
      <p>
        Email: <%= @grouped_order.buyer.email %>
      </p>
      <p>
        Address: <%= @grouped_order.address1 %> <%= @grouped_order.address2 %>
      </p>
      <p>
        City, State, Zip: <%= @grouped_order.city %>, <%= @grouped_order.state %> <%= @grouped_order.zip_code %>
      </p>
      <%= link_to 'Edit', edit_grouped_order_path(@grouped_order), class: "button", id: "one-edit" %>
    </div>
    <div class="column large-8 small-12 text-center">
      <div class="column large-12">
        <h3>Choose Payment Method</h3>
        <%= render 'both_options' %>
      </div>
      <div class="column large-12">
        <h2>
          Order Details
        </h2>
        <h5>
          Total - <%= number_to_currency(@grouped_order.total/100.0) %>
        </h5>
        <h5>
          Item Count - <%= @orders.count %>
        </h5>
        <span style="color: #2c3e50;">(Refresh the page to see an updated total and item count if you remove an item from your cart on this page.)</span>
        <div class="large-12 columns text-center">
          <% @orders.each do |product| %>
            <div class="cart-box-go">
              <span id="cart-item-go">
                <%= link_to product_path(product.product) do %>
                  <%= image_tag(product.product.image.thumb) %>
                <% end %>
              </span>
              <span>
                <h4><%= link_to product.product.name, product_path(product.product), id: "title-link-go" %></h4>
                <h6><%= number_to_currency(product.product.price) %></h6>
                <p>
                  Seller: <%= product.product.user.profile_name %>
                </p>
              </span>
              <span>
                <%= link_to "", id: "purchase-button", data: {target: product.product.cart_action(current_user.try :id), addUrl: add_to_cart_path(product.product), removeUrl: remove_from_cart_path(product.product)} do %>
                  <% if product.product.cart_action(current_user.try :id) == 'Remove from' %>
                    <i class="fa fa-times"></i>
                    <span><%=product.product.cart_action(current_user.try :id)%></span> Cart
                  <% else %>
                    <i class="fa fa-shopping-cart"></i>
                    <span><%=product.product.cart_action(current_user.try :id)%></span> <span>Cart</span>
                  <% end %>
                <%end%>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
