<div class="row">
  <div class="large-12 columns">
    <%= render 'pages/back_to_orders' %>
    <h1><%= @title %></h1>
    <table>
      <tr>
        <th>Order Number</th>
        <th>Item</th>
        <th>Shipped</th>
        <th>Tracking Number</th>
        <th>Go To Order</th>
      </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.product.name %></td>
        <td><%= order.shipped %></td>
        <td><%= order.tracking_number %></td>
        <td><%= link_to "Order Details", order_path(order) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
