<div class="row">
  <div class="large-12">
    <h1>Orders</h1>
  </div>
  <div class="large-4 columns">
    <%= link_to purchased_orders_path, class: "general-hover" do %>
      <div class="card">
        <div class="card-section">
          <p>Orders that I have purchased . . .</p>
        </div>
        <%= image_tag('multiple-payment-online-purchase.png') %>
      </div>
    <% end %>
  </div>
  <div class="large-4 columns">
    <%= link_to to_ship_orders_path, class: "general-hover" do %>
      <div class="card">
        <div class="card-section">
          <p>Orders that need to be shipped . . .</p>
        </div>
        <%= image_tag('Package_Box_Emoji_large.png') %>
      </div>
    <% end %>
  </div>
  <div class="large-4 columns">
    <%= link_to shipped_orders_path, class: "general-hover" do %>
      <div class="card">
        <div class="card-section">
          <p>Orders that have I've shipped . . .</p>
        </div>
        <%= image_tag('shipped.png') %>
      </div>
    <% end %>
  </div>
</div>
