<div class="row">
  <div class="small-12 large">
    <h1>Orders</h1>
  </div>
  <div class="large-4 small-6 columns">
    <%= link_to purchased_orders_path, class: "general-hover" do %>
      <div class="card">
        <div class="card-section">
          <p>Orders that I have purchased . . .</p>
        </div>
        <%= inline_svg "WebsiteMockups-03.svg", class: "my-orders-image" %>
      </div>
    <% end %>
  </div>
  <div class="large-4 small-6 columns">
    <%= link_to to_ship_orders_path, class: "general-hover" do %>
      <div class="card">
        <div class="card-section">
          <p>Orders that need to be shipped . . .</p>
        </div>
        <%= inline_svg "WebsiteMockups3-03.svg", class: "my-orders-image" %>
      </div>
    <% end %>
  </div>
  <div class="large-4 small-6 columns">
    <%= link_to shipped_orders_path, class: "general-hover" do %>
      <div class="card">
        <div class="card-section">
          <p>Orders that have I've shipped . . .</p>
        </div>
        <%= inline_svg "WebsiteMockups2-03.svg", class: "my-orders-image" %>
      </div>
    <% end %>
  </div>
</div>
