<div class="row font-color">
  <div class="row align-center">
    <div class="column large-5 small-12 text-center one-form">
      <div class="column large-12">
        <h3>Choose Payment Method:</h3>
        <div class="payment-method">
          <% if @order.seller.paypal? && @order.seller.stripe? %>
            <%= render 'payment_options/paypal_and_stripe_single_item' %>
          <% elsif @order.seller.stripe? %>
            <%= render 'payment_options/stripe_only_single_item' %>
          <% elsif @order.seller.paypal? %>
            <%= render 'payment_options/paypal_only_single_item' %>
          <% end %>
        </div>
      </div>
      <div class="large-12">
        <h2>Shipping Information</h2>
        <p>
          Name: <%= @order.first_name %> <%= @order.last_name %>
        </p>
        <p>
          Email: <%= @order.buyer.email %>
        </p>
        <p>
          Address: <%= @order.address1 %> <%= @order.address2 %>
        </p>
        <p>
          City, State, Zip: <%= @order.city %>, <%= @order.state %> <%= @order.zip_code %>
        </p>
        <%= link_to 'Edit', edit_order_path(@order), class: "button", id: "one-edit" %>
      </div>
    </div>
    <div class="column large-7 small-12 text-center">
      <div class="column large-12">
        <h2>
          Order Details
        </h2>
        <h5>
          Total - <span class="cart-total"><%= number_to_currency(@total) %></span>
        </h5>
        <h5>
          Item Count - <span class="cart-count"><%=current_user.cart_count%></span>
        </h5>
        <div class="large-12 columns text-center">
          <%= render 'list_product' %>
        </div>
      </div>
    </div>
  </div>
</div>
