<div class="row font-color">
  <div class="row align-center">
    <div class="column large-4 small-12 text-center one-form">
      <h2>Shipping Information</h2>
      <p>
        Name: <%= @order.first_name %> <%= @order.last_name %>
      </p>
      <p>
        Email: <%= @order.buyer.email %>
      </p>
      <p>
        Address: <%= @order.address1 %> <%= @order.address2 %>
      </p>
      <p>
        City, State, Zip: <%= @order.city %>, <%= @order.state %> <%= @order.zip_code %>
      </p>
      <%= link_to 'Edit', edit_order_path(@order), class: "button", id: "one-edit" %>
    </div>
    <div class="column large-8 small-12 text-center">
      <div class="column large-12">
        <h3>Choose Payment Method:</h3>
        <%= form_tag stripe_path(@order), id: "payment-form" do %>
          <div class="input-group">
            <div class="form-row">
              <div id="card-element">
              </div>
              <div id="card-errors" role="alert"></div>
            </div>
            <div class="input-group-button">
              <button class="button card-submit-button">Submit Payment</button>
            </div>
          </div>
        <% end %>
        <div class="payment-method">
          <% if @order.seller.paypal? == false %>
            <div class="large-6 columns">
              <div class="cc-payment-one">
                <i class="fa fa-4x fa-credit-card" aria-hidden="true"></i>
                <div class="stripe-button" id="stripe-button">
                  <%= form_tag charged_order_path(@order) do %>
                    <article>
                      <% if flash[:error].present? %>
                        <div id="error_explanation">
                          <p><%= flash[:error] %></p>
                        </div>
                      <% end %>
                    </article>
                    <div class="stripe-button">
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="Angler District - Tackle"
                              data-amount="<%= @total %>"
                              data-locale="auto"
                              disabled>
                      </script>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% elsif @order.seller.stripe? %>
            <div class="large-6 columns">
              <div class="cc-payment-one">
                <i class="fa fa-4x fa-credit-card" aria-hidden="true"></i>
                <div class="stripe-button" id="stripe-button">
                  <%= form_tag charged_order_path(@order) do %>
                    <article>
                      <% if flash[:error].present? %>
                        <div id="error_explanation">
                          <p><%= flash[:error] %></p>
                        </div>
                      <% end %>
                    </article>
                    <div class="stripe-button">
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="Angler District - Tackle"
                              data-amount="<%= @total %>"
                              data-locale="auto"
                              disabled>
                      </script>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% if @order.seller.stripe? == false %>
            <div class="large-6 columns align-middle">
              <div class="paypal-one-lonely" id="paypal-lonely">
                <i class="fa fa-3x fa-paypal" aria-hidden="true"></i>
                <div class="paypal-button-one">
                  <%= link_to image_tag("https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-44px.png"), paypal_create_path(@order) %>
                </div>
              </div>
            </div>
          <% elsif @order.seller.paypal? %>
            <div class="large-6 columns">
              <div class="paypal-one" id="paypal">
                <i class="fa fa-3x fa-paypal" aria-hidden="true"></i>
                <div class="paypal-button-one">
                  <%= link_to image_tag("https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-44px.png"), paypal_create_path(@order) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="column large-12">
        <h2>
          Order Details
        </h2>
        <h5>
          Total - <%= number_to_currency(@total/100.0) %>
        </h5>
        <h5>
          Item Count - <span class="cart-count"><%=current_user.cart_count%></span>
        </h5>
        <span style="color: #2c3e50;">(Refresh the page to see an updated total and item count if you remove an item from your cart on this page.)</span>
        <div class="large-12 columns text-center">
          <%= render 'list_product' %>
        </div>
      </div>
    </div>
  </div>
</div>
