<div class="home-search-bar text-center">
  <div class="row expanded">
    <div class="large-12 columns">

      <div class="large-4 columns text-right home-bar-buttons hide-for-small-only hide-for-medium-only">
        <%= link_to "Freshwater", products_path, class: "button search-bar-button", id: "sb-cat-button" %>
        <%= link_to "Saltwater", products_path, class: "button search-bar-button", id: "sb-cat-button" %>
        <%= link_to "Inshore", products_path, class: "button search-bar-button", id: "sb-cat-button" %>
      </div>

      <div class="large-4 medium-12 columns home-search-bar-input">
        <%= form_tag products_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search_text, "", placeholder: "Find Tackle", class:"input-group-field", id: "search-input" %>
            <div class="input-group-button">
              <%= submit_tag "Search", class: "button search-button", id: "search-button" %>
            </div>
          </div>
        <% end %>

        <!-- <form>
          <div class="row collapse">
            <div class="large-10 medium-10 small-10 columns text-right">
              <input class="home-search-input" type="search" placeholder="Find Tackle">
            </div>
            <div class="large-2  medium-2 small-2 columns text-left">
              <span class="postfix button home-search-button"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
            </div>
          </div>
        </form> -->
      </div>

      <div class="large-4 columns text-left home-bar-buttons hide-for-small-only hide-for-medium-only">
        <%= link_to "Fly", products_path, class: "button search-bar-button", id: "sb-cat-button" %>
        <%= link_to "Accesories", products_path, class: "button search-bar-button", id: "sb-cat-button" %>
        <%= link_to "Electronics", products_path, class: "button search-bar-button", id: "sb-cat-button" %>
      </div>

    </div>
  </div>
</div>
