<div class="top-bar">
  <div class="hide-for-small-only">
      <div class="top-bar-right top-bar-color">
        <ul class="vertical medium-horizontal menu" id="main-drop">
          <%if signed_in?%>
            <li>
              <a onclick="openNav()">My Stuff</a>
              <div id="mySidenav" class="sidenav">
                <span href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="cursor:pointer">&times;</span>
                <%= link_to cart_path do%>
                  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                  My Cart
                  (<span class="cart-count"><%=current_user.cart_count%></span>)
                <%end%>
                <%= link_to "Orders", user_orders_path %>
                <%= link_to "Profile", user_profile_path %>
                <%= link_to "Listed Products", all_user_products_path %>
                <%=link_to "Logout", destroy_user_session_path, method: :delete%>
              </div>
            </li>
            <li>
              <%= link_to cart_path do%>
                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                My Cart
                (<span class="cart-count"><%=current_user.cart_count%></span>)
              <%end%>
            </li>
            <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%else%>
            <li><div class="nav-link"><%= link_to "Sign Up", new_user_registration_path(anchor: "sign-up"), id: "title-link" %></div></li>
            <li><%= link_to "Log In", new_user_session_path(anchor: "sign-in"), class: "button main-button" %></li>
          <%end%>
        </ul>
      </div>
  </div>
  <div class="show-for-small-only">
    <div class="top-bar-right top-bar-color">

      <% if signed_in? %>
        <a onclick="openSignedNav()" class="mobile-menu-btn"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
      <% else %>
        <a onclick="openNav()" class="mobile-menu-btn"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
      <% end %>

      <% if signed_in? %>
        <%= render 'layout/signed_side_nav' %>
      <% else %>
        <%= render 'layouts/side_nav' %>
      <% end %>

    </div>
  </div>
</div>
