<div class="top-bar">
  <div class="top-bar-title">
    <span class="menu-hamburger" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right top-bar-color">
      <ul class="dropdown vertical medium-horizontal menu" id="main-drop" data-responsive-menu="drilldown medium-dropdown"  data-parent-link="true" data-back-button="<li class='js-drilldown-back'><a tabindex='0'>Back</a></li>">
        <%if signed_in?%>
          <li class="has-submenu">
            <a href="#">My Stuff</a>
            <ul class="submenu menu vertical nav-drop" data-submenu>
              <li id="drop-main-item">
                <%= link_to "Orders", user_orders_path %>
              </li>
              <li id="drop-main-item">
                <%= link_to "Profile", user_profile_path %>
              </li>
              <li id="drop-main-item">
                <%= link_to "Listed Products", all_user_products_path %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to cart_path do%>
              <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
              My Cart
              (<span class="cart-count"><%=current_user.cart_count%></span>)
            <%end%>
          </li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><div class="nav-link"><%= link_to "Sign Up", new_user_registration_path, id: "title-link" %></div></li>
          <li><%= link_to "Log In", new_user_session_path, class: "button main-button" %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
