<div class="top-bar">
  <div class="top-bar-title">
    <%= link_to root_path, class: "title-link"  do %>
      <%= image_tag('Angler - logo - Yellow-01.png', class: "nav-logo") %>
    <% end %>
    <span class="menu-hamburger" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="dropdown vertical medium-horizontal menu" id="main-drop" data-responsive-menu="drilldown medium-dropdown"  data-parent-link="true" data-back-button="<li class='js-drilldown-back'><a tabindex='0'>Back</a></li>">
        <%if signed_in?%>
          <li>
            <a style="cursor:pointer" onclick="openNav()">My Stuff</a>
            <div id="mySidenav" class="sidenav">
              <span href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="cursor:pointer">&times;</span>
              <%= link_to "Orders", user_orders_path %>
              <%= link_to "Profile", user_profile_path %>
              <%= link_to "Listed Products", all_user_products_path %>
            </div>
          </li>
          <li>
            <%= link_to cart_path do%>
              <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
              My Cart
              (<span class="cart-count"><%=current_user.cart_count%></span>)
            <%end%>
          </li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><div class="nav-link"><%= link_to "Sign Up", new_user_registration_path, id: "title-link" %></div></li>
          <li><%= link_to "Log In", new_user_session_path, class: "button main-button" %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
