<%= render 'pages/home_nav' %>

<%= render 'pages/home_search_bar' %>

<br />

<div class="row">
  <div class="medium-4 columns text-center">
    <div class="card">
      <div class="image">
        <%= image_tag("AD Logo Big Blue - Freshwater.png", class: "main-cat-image") %>
        <span class="title">Freshwater Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns text-center">
    <div class="card">
      <div class="image">
        <%= image_tag("AD Logo Big Blue - Saltwater.png", class: "main-cat-image") %>
        <span class="title">Saltwater Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns text-center">
    <div class="card">
      <div class="image">
        <%= image_tag("AD Logo Big Blue - Inshore.png", class: "main-cat-image") %>
        <span class="title">Inshore Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="medium-4 columns text-center">
    <div class="card">
      <div class="image">
        <%= image_tag("AD Logo Big Blue - Freshwater.png", class: "main-cat-image") %>
        <span class="title">Fly Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns text-center">
    <div class="card">
      <div class="image">
        <%= image_tag("AD Logo Big Blue - Freshwater.png", class: "main-cat-image") %>
        <span class="title">General Accessories</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns text-center">
    <div class="card">
      <div class="image">
        <%= image_tag("AD Logo Big Blue - Freshwater.png", class: "main-cat-image") %>
        <span class="title">Electronics</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
</div>
