<div class="how-to-1">
  <div class="row align-middle how-to-row how-to-row-top">
    <div class="large-6 small-12 text-center small-text-center">
      <%= image_tag("How to Sell - 01-01.png", class:"how-to-img") %>
    </div>
    <div class="large-6 small-12 text-center">
      <p id="main"><span class="how-to-text"><i class="fa fa-4x fa-user" aria-hidden="true"></i></span></p>
      <h3 id="how-to-title">REGISTER</h3>
      <p id="second-line">Click "Sign Up" at the top of the page.</p>
      <p id="second-line">Enter your email. (We won't spam you or sell your info)</p>
      <p id="second-line"></p>
      <p id="second-line">Enter a password.</p>
      <p id="second-line">Then click Sign Up.</p>
      <p id="second-line">An email will be sent to the email that was entered to confirm your account.</p>
      <p id="second-line">Open the email and click the link to confirm your email!</p>
    </div>
  </div>
</div>

<div class="how-to-2">
  <div class="row align-middle how-to-row">
    <div class="large-6 small-12 text-center">
      <p id="main"><span><i class="fa fa-4x fa-link" aria-hidden="true"></i></span></p>
      <h3 id="how-to-title">LINK YOUR <span>PAYMENT ACCOUNT</span></h3>
      <p id="second-line">Log into your account.</p>
      <p id="second-line">Go to your profile page, if you aren't already there.</p>
      <p id="second-line">If you want to accept PayPal payments then let us know what your PayPal email is either by confirming it is your email that you entered or by entering your PayPal email.</p>
      <p id="second-line">To accept other forms of payment, like credit cards, connect your Stripe account to Angler District. (If you don't have a Stripe account, no worries, it walks your through everything and you only have to do it once.)</p>
    </div>
    <div class="large-6 small-12 text-center small-text-center">
      <%= image_tag("How to Sell - 02-01.png", class:"how-to-img") %>
    </div>
  </div>
</div>

<div class="how-to-1">
  <div class="row align-middle how-to-row">
    <div class="large-6 small-12 text-center small-text-center">
      <%= image_tag("How to Sell - 03-01.png", class:"how-to-img") %>
    </div>
    <div class="large-6 small-12 text-center">
      <p id="main"><span class="how-to-text"><i class="fa fa-4x fa-camera-retro" aria-hidden="true"></i></span></p>
      <h3 id="how-to-title">POST A PRODUCT</h3>
      <p id="second-line">Go the "My Stuff" menu at the top of the page.</p>
      <p id="second-line">Click "Listed Products".</p>
      <p id="second-line">Click the "New Product Listing" button.</p>
      <p id="second-line">Enter all of the information for the item that you are selling. (Check the <%= link_to "Tackle Condition Guide", tackle_condition_guide_path %> for assistance in making the best possible listing.)</p>
      <p id="second-line">Now go fishing and we will let you know when your item sells.</p>
    </div>
  </div>
</div>

<div class="how-to-2">
  <div class="row align-middle how-to-row how-to-row-bottom">
    <div class="large-6 small-12 text-center">
      <p id="main"><span class="how-to-text"><i class="fa fa-4x fa-money" aria-hidden="true"></i></span></p>
      <h3 id="how-to-title">GET THE MONEY</h3>
      <p id="second-line">When you get notified that your item has sold you will be notified.</p>
      <p id="second-line">Payment for your item should be waiting for you depending on whatever payment method was choosen.</p>
      <p id="second-line">Unless you have someone lined up to ship the item for you it will require your to take a short break from the water and get the buyer their item. The faster you ship, the better reputation you receive.</p>
      <p id="second-line">Once you have a tracking number for the package containing the item, enter it into the order page so that the buyer can know when their item should arrive.</p>
    </div>
    <div class="large-6 small-12 text-center small-text-center">
      <%= image_tag("How to Sell - 04-01.png", class:"how-to-img") %>
    </div>
  </div>
</div>
