<div class="row">
  <div class="text-center">
    <h1><%= @user.profile_name %>'s Profile</h1>
  </div>
</div>

<div class="row">
  <div class="large-6 small-12 columns text-center">
    <p>Profile Name: <%= @user.profile_name %></p>
    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Address: <%= @user.address1 %> <%= @user.address2 %></p>
    <p>City: <%= @user.city %></p>
    <p>State: <%= @user.state %></p>
    <p>Zip Code: <%= @user.zip_code %></p>
  </div>
  <div class="large-6 small-12 columns text-center">
    <p><%= link_to "Edit Profile", edit_user_profile_path(@user) %></p>
    <p><%= link_to "Change your password", edit_user_registration_path %></p>
    <p>
      <% if @user.provider == "stripe_connect" %>
        <i class="fa fa-2x fa-check-square" aria-hidden="true"><span class="str-con">Stripe Account Connected!</span></i>
      <% else %>
        <%= link_to user_stripe_connect_omniauth_authorize_path('stripe_user[email]' => @user.email, 'stripe_user[first_name]' => @user.first_name, 'stripe_user[url]' => 'http://www.anglerdistrict.com'), class: "stripe-connect dark" do %>
          <span>Connect with Stripe</span>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
