<div class="row">
  <div class="large-12 columns text-center">
    <div class="large-8 large-offset-1 columns text-center">
      <h4>My Cart</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="large-8 large-offset-1 columns text-center">
      <% @cart_products.each do |product| %>
        <div class="cart-box">
          <span id="cart-item">
            <%= link_to product_path(product) do %>
              <%= image_tag(product.display_image.thumb) %>
            <% end %>
          </span>
          <span>
            <h4><%= link_to product.name, product_path(product), id: "title-link" %></h4>
            <h6><%= number_to_currency(product.price) %></h6>
            <p>
              Seller: <%= product.user.id %>
            </p>
          </span>
          <span id="cart-item">
            <%= link_to "", id: "purchase-button", data: {target: product.cart_action(current_user.try :id), addUrl: add_to_cart_path(product), removeUrl: remove_from_cart_path(product)} do %>
              <% if product.cart_action(current_user.try :id) == 'Remove from' %>
                <i class="fa fa-times"></i>
                <span><%=product.cart_action(current_user.try :id)%></span> Cart
              <% else %>
                <i class="fa fa-shopping-cart"></i>
                <span><%=product.cart_action(current_user.try :id)%></span> <span>Cart</span>
              <% end %>
            <%end%>
            <% if product.accept_stripe? && product.accept_paypal? %>
              <p class="payment-options"><i class="fa fa-2x fa-cc-amex" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-discover" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-mastercard" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-visa" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-paypal" aria-hidden="true"></i></p>
            <% elsif product.accept_paypal? %>
              <p class="payment-options"><i class="fa fa-2x fa-cc-paypal" aria-hidden="true"></i></p>
            <% elsif product.accept_stripe? %>
              <p class="payment-options"><i class="fa fa-2x fa-cc-amex" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-discover" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-mastercard" aria-hidden="true"></i> <i class="fa fa-2x fa-cc-visa" aria-hidden="true"></i></p>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="large-2 columns text-left cart-sum float-right">
      <p class="first-cart-sum">
        <span class="cart-count"><%=current_user.cart_count%></span> Product(s) Selected
      </p>
      <p>
        Product(s) Total: <span class="cart-total"><%= number_to_currency(@total) %></span>
      </p>
      <p>
        Shipping: n/a
      </p>
      <h4>
        Total: <span class="cart-total"><%= number_to_currency(@total) %></span>
      </h4>
      <%if signed_in?%>
        <% if @cart_ids.count >= 1 %>
          <%= link_to 'Checkout', route_order_path, class: "button checkout-button", id: "checkout-button" %>
        <% end %>
      <% end %>
    </div>
    <div class="large-1 columns">
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h5>Similar Items:</h5>
  </div>
</div>
<div class="row">
    <% @related_products.each do |product| %>
      <div class="card">
        <div class="card-section">
          <%= image_tag(product.first.display_image.display) %>
        </div>
        <div class="card-section">
          <p><%= product.first.name %></p>
        </div>
      </div>
    <% end %>
</div>
