<div class="row expanded columns">
  <div class="medium-3 columns hide-for-small-only">
    <div class="large-12 columns side-search-bar-input" data-sticky-container>
      <div class="sticky" data-sticky data-margin-top="0">
        <%= form_tag products_path, method: :get do %>
          <div class="input-group">
            <%= text_field_tag :search_text, "", placeholder: "Find Tackle", class:"input-group-field", id: "search-input" %>
            <div class="input-group-button">
              <%= button_tag(type: "submit", class: "button search-button", id: "search-button") do %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="large-12 columns text-center side-cats">
      <%= render 'products/products_side_bar' %>
    </div>
  </div>
  <div class="medium-9 small-12 columns">
    <% @products.each do |product| %>
      <div class="large-4 small-6 columns">
        <div class="main-products">
          <%= link_to product_path(product) do %>
            <h4 class="text-center"><%= product.name %></h4>
            <%= image_tag(product.display_image.display, class: "main-display-product-image") %>
            <h5 class="home-page-product"><%= number_to_currency(product.price_in_cents/100.0) %></h5>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="large-12 columns text-center pagination">
      <%= will_paginate @products, :previous_label => 'Previous', :next_label => 'Next', renderer: FoundationPagination::Rails %>
    </div>
  </div>
</div>
