<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 small-12 columns text-center">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </div>
    </div>

    <div class="large-6 small-12 columns text-center">
      <div class="file">
        <div class="field">
          <div class="files-wr" data-count-files="1">
            <div class="one-file">
              <%= f.label :display_image %>
              <%= f.file_field :display_image %>
              <div class="file-item hide-btn">
                <span class="file-name"></span>
                <span class="btn btn-del-file">x</span>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="files-wr" data-count-files="1">
            <div class="one-file">
              <%= f.label :image %>
              <%= f.file_field :image %>
              <div class="file-item hide-btn">
                <span class="file-name"></span>
                <span class="btn btn-del-file">x</span>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="files-wr" data-count-files="1">
            <div class="one-file">
              <%= f.label :image2 %>
              <%= f.file_field :image2 %>
              <div class="file-item hide-btn">
                <span class="file-name"></span>
                <span class="btn btn-del-file">x</span>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="files-wr" data-count-files="1">
            <div class="one-file">
              <%= f.label :image3 %>
              <%= f.file_field :image3 %>
              <div class="file-item hide-btn">
                <span class="file-name"></span>
                <span class="btn btn-del-file">x</span>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="files-wr" data-count-files="1">
            <div class="one-file">
              <%= f.label :image4 %>
              <%= f.file_field :image4 %>
              <div class="file-item hide-btn">
                <span class="file-name"></span>
                <span class="btn btn-del-file">x</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
