<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 small-12 columns text-center">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </div>
    </div>

    <div class="large-6 small-12 columns text-center">
      <div class="field file">
        <div class="files-wr" data-count-files="1">
          <div class="one-file">
            <label for="product_display_image">Attach Display Image</label>
            <input name="product[display_image]" id="product_display_image" type="file">
            <div class="file-item hide-btn">
              <span class="file-name"></span>
              <span class="btn btn-del-file">x</span>
            </div>
          </div>
        </div>
      </div>
      <div class="field file">
        <div class="files-wr" data-count-files="1">
          <div class="one-file">
            <label for="product_image">Attach Image 1</label>
            <input name="product[image]" id="product_image" type="file">
            <div class="file-item hide-btn">
              <span class="file-name"></span>
              <span class="btn btn-del-file">x</span>
            </div>
          </div>
        </div>
      </div>
      <div class="field file">
        <div class="files-wr" data-count-files="1">
          <div class="one-file">
            <label for="product_image2">Attach Image 2</label>
            <input name="product[image2]" id="product_image2" type="file">
            <div class="file-item hide-btn">
              <span class="file-name"></span>
              <span class="btn btn-del-file">x</span>
            </div>
          </div>
        </div>
      </div>
      <div class="field file">
        <div class="files-wr" data-count-files="1">
          <div class="one-file">
            <label for="product_image3">Attach Image 3</label>
            <input name="product[image3]" id="product_image3" type="file">
            <div class="file-item hide-btn">
              <span class="file-name"></span>
              <span class="btn btn-del-file">x</span>
            </div>
          </div>
        </div>
      </div>
      <div class="field file">
        <div class="files-wr" data-count-files="1">
          <div class="one-file">
            <label for="product_image4">Attach Image 4</label>
            <input name="product[image4]" id="product_image4" type="file">
            <div class="file-item hide-btn">
              <span class="file-name"></span>
              <span class="btn btn-del-file">x</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="actions">
      <%= f.submit class:"button" %>
    </div>
  </div>
<% end %>
