<div class="row side-bar">
  <div class="large-12 columns">
    <div class="show-category-list">
      <button class="button">Categories</button>
    </div>
    <ul class="no-bullet" id="category-list" style="display: none;">
      <li>
        <%= link_to "Reels", reels_path %>
      </li>
      <li>
        <%= link_to "Rods", rods_path %>
      </li>
      <li>
        <%= link_to "Lures", lures_path %>
      </li>
      <li>
        <%= link_to "General", general_path %>
      </li>
      <li>
        <%= link_to "Apparel", apparel_path %>
      </li>
      <li>
        <%= link_to "Boating", boating_path %>
      </li>
      <li>
        <%= link_to "Electronics", electronics_path %>
      </li>
    </ul>
  </div>
  <div class="large-12 columns">
    <div class="show-freshwater-list">
      <button class="button">Popular Freshwater Brands</button>
    </div>
    <ul class="no-bullet" id="freshwater-list" style="display: none;">
      <% @brands.each do |brand| %>
      <li>
        <%= link_to brand.name, fresh_brands_path(brand) %>
      </li>
      <% end %>
      <li>
        <%= link_to "Other", electronics_path %>
      </li>
    </ul>
  </div>
  <div class="large-12 columns">
    <div class="show-saltwater-list">
      <button class="button">Popular Saltwater Brands</button>
    </div>
    <ul class="no-bullet" id="saltwater-list" style="display: none;">
      <li>
        <%= link_to "Offshore Angler", reels_path %>
      </li>
      <li>
        <%= link_to "Abu Garcia", rods_path %>
      </li>
      <li>
        <%= link_to "Penn", lures_path %>
      </li>
      <li>
        <%= link_to "Accurate", general_path %>
      </li>
      <li>
        <%= link_to "Fin-Nor", apparel_path %>
      </li>
      <li>
        <%= link_to "Daiwa", boating_path %>
      </li>
      <li>
        <%= link_to "Lew's", electronics_path %>
      </li>
      <li>
        <%= link_to "Okuma", electronics_path %>
      </li>
      <li>
        <%= link_to "Quantum", electronics_path %>
      </li>
      <li>
        <%= link_to "Other", electronics_path %>
      </li>
    </ul>
  </div>
</div>
