<div class="row side-bar">
  <div class="large-12 columns">
    <button class="button" type="button" data-toggle="cat-dropdown">Categories</button>
    <div class="dropdown-pane right" id="cat-dropdown" data-dropdown data-close-on-click="true">
      <ul class="no-bullet">
        <li class="footer-title hide-for-small-only">
          Categories
        </li>
        <li>
          <%= link_to "Reels", reels_path %>
        </li>
        <li>
          <%= link_to "Rods", rods_path %>
        </li>
        <li>
          <%= link_to "Lures", lures_path %>
        </li>
        <li>
          <%= link_to "General", general_path %>
        </li>
        <li>
          <%= link_to "Apparel", apparel_path %>
        </li>
        <li>
          <%= link_to "Boating", boating_path %>
        </li>
        <li>
          <%= link_to "Electronics", electronics_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-12 columns">
    <button class="button" type="button" data-toggle="salt-dropdown">Popular Freshwater Brands</button>
    <div class="dropdown-pane right" id="salt-dropdown" data-dropdown data-close-on-click="true">
      <ul class="no-bullet">
        <li class="footer-title hide-for-small-only">
          Freshwater Brands
        </li>
        <li>
          <%= link_to "13 Fishing", reels_path %>
        </li>
        <li>
          <%= link_to "Abu Garcia", rods_path %>
        </li>
        <li>
          <%= link_to "Ardent", lures_path %>
        </li>
        <li>
          <%= link_to "Berkley", general_path %>
        </li>
        <li>
          <%= link_to "Castaway", apparel_path %>
        </li>
        <li>
          <%= link_to "Daiwa", boating_path %>
        </li>
        <li>
          <%= link_to "Denali Rods", electronics_path %>
        </li>
        <li>
          <%= link_to "Dobyns Rods", electronics_path %>
        </li>
        <li>
          <%= link_to "Duckett Fishing", reels_path %>
        </li>
        <li>
          <%= link_to "Falcon", rods_path %>
        </li>
        <li>
          <%= link_to "Fenwick", lures_path %>
        </li>
        <li>
          <%= link_to "G. Loomis", general_path %>
        </li>
        <li>
          <%= link_to "Halo Fishing", apparel_path %>
        </li>
        <li>
          <%= link_to "Jackall", boating_path %>
        </li>
        <li>
          <%= link_to "Lew's", electronics_path %>
        </li>
        <li>
          <%= link_to "Megabass", electronics_path %>
        </li>
        <li>
          <%= link_to "Okuma", electronics_path %>
        </li>
        <li>
          <%= link_to "Quantum", electronics_path %>
        </li>
        <li>
          <%= link_to "St. Croix", electronics_path %>
        </li>
        <li>
          <%= link_to "Other", electronics_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-12 columns">
    <button class="button" type="button" data-toggle="fresh-dropdown">Popular Saltwater Brands</button>
    <div class="dropdown-pane right" id="fresh-dropdown" data-dropdown data-close-on-click="true">
      <ul class="no-bullet">
        <li class="footer-title hide-for-small-only">
          Saltwater Brands
        </li>
        <li>
          <%= link_to "Offshore Angler", reels_path %>
        </li>
        <li>
          <%= link_to "Abu Garcia", rods_path %>
        </li>
        <li>
          <%= link_to "Penn", lures_path %>
        </li>
        <li>
          <%= link_to "Accurate", general_path %>
        </li>
        <li>
          <%= link_to "Fin-Nor", apparel_path %>
        </li>
        <li>
          <%= link_to "Daiwa", boating_path %>
        </li>
        <li>
          <%= link_to "Lew's", electronics_path %>
        </li>
        <li>
          <%= link_to "Okuma", electronics_path %>
        </li>
        <li>
          <%= link_to "Quantum", electronics_path %>
        </li>
        <li>
          <%= link_to "Other", electronics_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
