<p id="notice"><%= notice %></p>
<div class="row expanded columns">
  <div class="medium-12 columns">
      <div class="medium-3 columns hide-for-small-only">
        <div class="large-12 columns home-search-bar-input" data-sticky-container>
          <div class="sticky" data-sticky data-margin-top="0">
            <%= form_tag products_path, method: :get do %>
              <div class="input-group">
                <%= text_field_tag :search_text, "", placeholder: "Find Tackle", class:"input-group-field", id: "search-input" %>
                <div class="input-group-button">
                  <%= button_tag(type: "submit", class: "button search-button", id: "search-button") do %>
                    <i class="fa fa-search" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="large-12 columns text-center side-cats">
          <ul class="no-bullet">
            <li class="footer-title hide-for-small-only">
              Categories
            </li>
            <li>
              <%= link_to "Reels", reels_path %>
            </li>
            <li>
              <%= link_to "Rods", rods_path %>
            </li>
            <li>
              <%= link_to "Lures", lures_path %>
            </li>
            <li>
              <%= link_to "General", general_path %>
            </li>
            <li>
              <%= link_to "Apparel", apparel_path %>
            </li>
            <li>
              <%= link_to "Boating", boating_path %>
            </li>
            <li>
              <%= link_to "Electronics", electronics_path %>
            </li>
          </ul>
          <ul class="no-bullet">
            <li class="footer-title hide-for-small-only">
              Popular Brands
            </li>
            <li>
              <%= link_to "13 Fishing", reels_path %>
            </li>
            <li>
              <%= link_to "Abu Garcia", rods_path %>
            </li>
            <li>
              <%= link_to "Ardent", lures_path %>
            </li>
            <li>
              <%= link_to "Berkley", general_path %>
            </li>
            <li>
              <%= link_to "Castaway", apparel_path %>
            </li>
            <li>
              <%= link_to "Daiwa", boating_path %>
            </li>
            <li>
              <%= link_to "Denali Rods", electronics_path %>
            </li>
            <li>
              <%= link_to "Dobyns Rods", electronics_path %>
            </li>
            <li>
              <%= link_to "Duckett Fishing", reels_path %>
            </li>
            <li>
              <%= link_to "Falcon", rods_path %>
            </li>
            <li>
              <%= link_to "Fenwick", lures_path %>
            </li>
            <li>
              <%= link_to "G. Loomis", general_path %>
            </li>
            <li>
              <%= link_to "Halo Fishing", apparel_path %>
            </li>
            <li>
              <%= link_to "Jackall", boating_path %>
            </li>
            <li>
              <%= link_to "Lew's", electronics_path %>
            </li>
            <li>
              <%= link_to "Megabass", electronics_path %>
            </li>
            <li>
              <%= link_to "Okuma", electronics_path %>
            </li>
            <li>
              <%= link_to "Quantum", electronics_path %>
            </li>
            <li>
              <%= link_to "St. Croix", electronics_path %>
            </li>
            <li>
              <%= link_to "Other", electronics_path %>
            </li>
          </ul>
        </div>
      </div>
      <div class="medium-9 small-12 columns">
        <% @products.each do |product| %>
          <div class="large-4 small-6 columns float-left">
            <div class="main-products">
              <%= link_to product do %>
                <h4 class="text-center"><%= product.name %></h4>
                <%= image_tag(product.display_image.display, class: "main-display-product-image") %>
                <h5 class="home-page-product">$<%= Money.new(product.price) * 100 %></h5>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="large-12 columns text-center pagination">
          <%= will_paginate @products, :previous_label => 'Previous', :next_label => 'Next', renderer: FoundationPagination::Rails %>
        </div>
      </div>
  </div>
</div>
