<p id="notice"><%= notice %></p>
<div class="row expanded columns">
  <div class="medium-12 columns">
    <div class="row">
      <div class="medium-3 columns hide-for-small-only">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Site Title</li>
          <li>
            <a href="#">One</a>
            <ul class="menu vertical">
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
        <p>
          Bacon ipsum dolor amet salami chicken capicola bacon ham hock pork belly swine boudin. Corned beef cow flank venison pork loin short loin jerky brisket chicken biltong burgdoggen. Ham swine kevin, pork loin landjaeger flank tongue. Pork salami beef jerky strip steak spare ribs. Beef ribs pork chop shoulder sausage t-bone. Sirloin brisket pancetta, beef pork jowl t-bone jerky frankfurter ball tip.
        </p>
        <p>
          Filet mignon ribeye jerky venison andouille doner beef ribs ham shankle fatback. T-bone ground round brisket, pork chop tri-tip sirloin boudin ribeye picanha corned beef pancetta burgdoggen rump pork jowl. Kielbasa burgdoggen capicola boudin pork belly. T-bone porchetta corned beef, meatball kielbasa shankle biltong meatloaf tri-tip.
        </p>
        <p>
          Ball tip ham hock capicola, kevin landjaeger meatball fatback rump sirloin frankfurter kielbasa shoulder bacon. Chuck sausage capicola, pig meatball landjaeger sirloin ground round shankle fatback. Tenderloin cow pastrami venison ground round, short loin salami picanha prosciutto. Ribeye turducken corned beef salami, alcatra sausage bresaola. Corned beef turducken shankle tail shank shoulder, pig ham hock biltong. Pork chop ham tenderloin cow.
        </p>
        <p>
          Corned beef shoulder pancetta pork loin sausage, brisket pig. Swine bresaola doner turkey turducken pork belly. Tongue shank drumstick, strip steak t-bone prosciutto landjaeger jerky boudin pork belly spare ribs kevin burgdoggen kielbasa. Pork loin hamburger spare ribs meatball, strip steak fatback shankle venison.
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <% @products.each do |product| %>
          <div class="large-4 small-12 columns float-left">
            <div class="main-products">
              <%= link_to product do %>
                <h4 class="text-center"><%= product.name %></h4>
                <%= image_tag(product.display_image.display, class: "main-display-product-image") %>
                <h5 class="home-page-product">$<%= Money.new(product.price) * 100 %></h5>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
