<p id="notice"><%= notice %></p>

<div class="row">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>

  <%if signed_in?%>
    <%= link_to 'Edit', edit_product_path(@product) %>
  <% end %>
</div>
