<footer>
  <div class="footer">
    <div class="top-footer">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-3 large-offset-2 small-2 columns">
            <ul class="no-bullet">
              <li class="footer-title hide-for-small-only">
                Categories
              </li>
              <li>
                <%= link_to "Reels", reels_path %>
              </li>
              <li>
                <%= link_to "Rods", rods_path %>
              </li>
              <li>
                <%= link_to "Lures", lures_path %>
              </li>
              <li>
                <%= link_to "General", general_path %>
              </li>
              <li>
                <%= link_to "Apparel", apparel_path %>
              </li>
              <li>
                <%= link_to "Boating", boating_path %>
              </li>
              <li>
                <%= link_to "Electronics", electronics_path %>
              </li>
            </ul>
          </div>
          <div class="large-3 large-offset-1 small-10 columns">
            <div class="large-10 columns small-9 text-right">
              <ul class="no-bullet">
                <li class="footer-title">
                  Angler District Links
                </li>
                <li>
                  <%= link_to "FAQs", faq_path %>
                </li>
                <li>
                  <%= link_to "How To Sell", how_to_sell_path %>
                </li>
                <li>
                  <%= link_to "Tackle Condition Guide", tackle_condition_guide_path %>
                </li>
                <li>
                  <%= link_to "Buyer Protection", buyer_protection_path %>
                </li>
                <li>
                  <%= link_to "Fees", fees_path %>
                </li>
              </ul>
            </div>
            <div class="large-2 columns small-3 text-left">
              <ul class="no-bullet social">
                <li>
                  <%= link_to "https://www.instagram.com/anglerdistrict/", formtarget: "_blank", target: "_blank" do %>
                    <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://twitter.com/anglerdistrict", formtarget: "_blank", target: "_blank" do %>
                    <i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://www.snapchat.com/add/anglerdistrict", formtarget: "_blank", target: "_blank" do %>
                    <i class="fa fa-3x fa-snapchat-square" aria-hidden="true"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "https://www.facebook.com/anglerdistrict/", formtarget: "_blank", target: "_blank" do %>
                    <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="large-1 columns hide-for-small-only">
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="row hide-for-small-only">
        <div class="large-12 columns">
          <div class="large-5 medium-4 columns text-left text-footer">
            <span><%= link_to "Terms & Policies", terms_and_policies_path %></span>
          </div>
          <div class="large-2 medium-4 columns text-center">
            <%= image_tag('Angler - logo - Yellow-01.png', class: "nav-logo") %>
          </div>
          <div class="large-5 medium-4 columns text-right text-footer">
            <span>&copy; <%= Date.today.year %> Angler District, LLC</span>
          </div>
        </div>
      </div>
      <div class="row show-for-small-only">
        <div class="small-4 columns text-center">
          <%= image_tag('Angler - logo - Yellow-01.png', class: "nav-logo") %>
        </div>
        <div class="small-4 columns text-center">
          <span><%= link_to "Terms & Policies", terms_and_policies_path %></span>
        </div>
        <div class="small-4 columns text-center">
          <span>&copy; <%= Date.today.year %> Angler District, LLC</span>
        </div>
      </div>
    </div>
  </div>
</footer>
