<footer>
  <div class="footer">
    <div class="top-footer no-bullet text-center"
      <ul>
        <li>
          <%= link_to "Freshwater Fishing", root_path %>
        </li>
        <li>
          <%= link_to "Salwater Fishing", root_path %>
        </li>
        <li>
          <%= link_to "Inshore Fishing", root_path %>
        </li>
        <li>
          <%= link_to "Fly Fishing", root_path %>
        </li>
        <li>
          <%= link_to "General Accessories", root_path %>
        </li>
        <li>
          <%= link_to "Electronics", root_path %>
        </li>
      </ul>
    </div>
    <div class="bottom-footer">
      <div class="row">
        <div class="large-12 columns">
          <div class="large-6 columns text-left">
            <span><%= link_to "Terms & Serivces", root_path %></span>
          </div>
          <div class="large-6 columns text-right">
            <span>&copy; AnglerDistrict.com, LLC</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
