<!--<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop: 0; stickyOn: small;">
    <div class="title-bar-left">
      <div id="main">
        <span class="logo-menu show-for-mobile-only" id="ham-menu" onclick="openNav()">&#9776;</span>
        <span class="show-for-mobile-only" style="font-size:45px;cursor:pointer;display:none" id="close-menu" onclick="closeNav()">&times;</span>
        <span class="logo-menu" id="logo-name"><%= link_to "Angler District", root_path %></span>
      </div>
    </div>
    <div class="title-bar-right">
      <ul class="menu">
        <li><a href="#">My Account</a></li>
        <li><a class="button">Login</a></li>
      </ul>
    </div>
    <%= link_to "Find Tackle", products_path, class: "button" %>
    <%= link_to "Sell Your Tackle", products_path, class: "button" %>
  </div>
</div>
<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Site Title</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">One</a>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>-->
<div class="top-bar">
  <div class="row expanded">
    <div class="small-12 columns show-for-small-only">
      <div class="small-6 columns">
        <div class="text-left">
          <%= link_to root_path do %>
            <%= image_tag("Logo-01-red.png", class: "nav-logo") %>
          <% end %>
        </div>
      </div>
      <div class="small-1 columns">

      </div>
      <div class="small-5 columns text-right">
        <div class="text-right">
          <ul class="menu">
            <%if signed_in?%>
              <li>
                <%= link_to cart_path do%>
                  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                  My Cart
                  (<span class="cart-count"><%=current_user.cart_count%></span>)
                <%end%>
              </li>
              <li><%=link_to current_user.email, edit_user_registration_path%></li>
              <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
            <%else%>
              <li><div class="nav-link"><%= link_to "Sign Up", new_user_registration_path, class: "words" %></div></li>
              <li><%= link_to "Log In", new_user_session_path, class: "button main-button" %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-12 small-12 columns hide-for-small-only">
      <div class="top-bar-left ">
        <ul class="dropdown menu" data-dropdown-menu>
          <!-- <li class="menu-text">Site Title</li> -->
          <%= link_to root_path do %>
            <%= image_tag("Logo-01-red.png", class: "nav-logo") %>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%if signed_in?%>
            <li>
              <%= link_to cart_path do%>
                <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                My Cart
                (<span class="cart-count"><%=current_user.cart_count%></span>)
              <%end%>
            </li>
            <li><%=link_to current_user.email, edit_user_registration_path%></li>
            <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%else%>
            <li><div class="nav-link"><%= link_to "Sign Up", new_user_registration_path, class: "words" %></div></li>
            <li><%= link_to "Log In", new_user_session_path, class: "button main-button" %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
