<div id="signed-side-nav" class="side-nav">
  <span href="javascript:void(0)" class="closebtn" onclick="closeSignedNav()">&times;</span>
  <%= link_to cart_path do%>
    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    My Cart
    (<span class="cart-count"><%=current_user.cart_count%></span>)
  <%end%>
  <%= link_to "Orders", user_orders_path %>
  <%= link_to "Profile", user_profile_path %>
  <%= link_to "Listed Products", all_user_products_path %>
  <%=link_to "Logout", destroy_user_session_path, method: :delete%>
</div>
