<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
      .StripeElement {
        background-color: white;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }

      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }

      .StripeElement--invalid {
        border-color: #fa755a;
      }

      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= Gon::Base.render_data %>
    <title><%= content_for?(:title) ? yield(:title) : "Angler District - Find Tackle Easily. Sell Tackle Fast." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "AnglerDistrict.com - The best place to find and sell used fishing tackle." %>" />
    <meta property="og:url" content="<%= content_for?(:og_url) ? yield(:og_url) : 'https://www.anglerdistrict.com' %>"  />
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : "AnglerDistrict.com - Find Tackle Easily. Sell Tackle Fast." %>"  />
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : "Angler District - The best place to find and sell used fishing tackle." %>"  />
    <meta property="og:type" content="<%= content_for?(:og_type) ? yield(:og_type) : "website" %>"  />

    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('AD - logo - Yellow-01.png') %>"  />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@anglerdistrict" />
    <meta name="twitter:title" content="<%= content_for?(:og_title) ? yield(:og_title) : "AnglerDistrict.com - Find Tackle Easily. Sell Tackle Fast." %>" />
    <meta name="twitter:description" content="<%= content_for?(:og_description) ? yield(:og_description) : "Angler District - The best place to find and sell used fishing tackle." %>" />
    <meta name="twitter:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('AD - logo - Yellow-01.png') %>" />
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'AD - Favicon - Yellow-04.png' %>
  </head>

  <body>
    <%- flash.each do |name, msg| -%>
      <% if msg == "Product was successfully updated." || msg == "Order was successfully updated." %>
      <% else %>
        <% case name %>
        <% when "alert" %>
          <div class="flash-at text-center">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% when "notice" %>
          <div class="flash-nt text-center">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% else %>
          <div class="text-center">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% end %>
      <% end %>
    <%- end -%>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render 'pages/topbar' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
