<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Angler District - The best place to find and sell used fishing tackle." %></title>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'AD - Favicon - Yellow-04.png' %>
  </head>

  <body>
    <%= render 'pages/topbar' %>
    <div class="expanded row">
      <%- flash.each do |name, msg| -%>
        <% if msg == "Product was successfully updated." || msg == "Order was successfully updated." %>
        <% else %>
          <% case name %>
          <% when "alert" %>
            <div class="flash-at text-center">
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          <% when "notice" %>
            <div class="flash-nt text-center">
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          <% else %>
            <div class="text-center">
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          <% end %>
        <% end %>
      <%- end -%>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
